[Unit]
Description=iot-client-template-rs service
After=network-online.target time-sync.target aziot-identityd.service
Wants=network-online.target time-sync.target aziot-identityd.service
StartLimitBurst=10
StartLimitIntervalSec=120

[Service]
Type=notify
Restart=always
RestartSec=5
User=iot-client-rs
Group=iot-client-rs
WatchdogSec=30s

ExecStart=/usr/bin/iot-client-template-rs

[Install]
WantedBy=multi-user.target
