[Unit]
Description=iot-module-template-rs service
After=network-online.target aziot-identityd.service
Wants=network-online.target aziot-identityd.service
StartLimitBurst=10
StartLimitIntervalSec=120

[Service]
Type=simple
Restart=always
RestartSec=5
User=iotmodule-rs
Group=iotmodule-rs

ExecStart=/usr/bin/iot-module-template-rs

[Install]
WantedBy=multi-user.target
